{% extends 'base.html' %}
{% load static %}

{% block css_files %}
<!-- 47. Static files -->
<link rel="stylesheet" href="{% static 'challenges/challenge.css' %}">
<link rel="stylesheet" href="{% static "challenges/includes/header.css" %}">
{% endblock %}

    {% block content %}
        <!-- 44. Including Partial Template Snippets -->
        {% include 'challenges/includes/header.html' %}

    <!-- 37. Filters -->
    <!-- 41. If Tag -->
    <!-- https://docs.djangoproject.com/en/4.2/ref/templates/builtins/#built-in-filter-reference -->
    <h1>{{ month_name|title }} Challenge</h1>
    {% if text %}
    <h2>{{ text }}</h2>
    {% else %}
    <p class="fallback">No challenge.</p>
    {% endif %}
    {% endblock %}